**/*.o
**/*.bin
**/*.com
**/*.exe
**/*-posix

driver/.atarisio.*
driver/.tmp_versions
driver/Module.symvers
driver/atarisio.ko
driver/atarisio.mod.c
driver/modules.order

tools/6502/dumphscode
tools/6502/dumpmypdoscode

tools/adir
tools/ataricom
tools/atariserver
tools/atarixfer
tools/casinfo
tools/dir2atr
tools/measure-system-latency
tools/test-fsk

