/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2708";

    fragment@0 {
        target = <&uart1>;
        __overlay__ {
                pinctrl-names = "default";
                pinctrl-0 = <&uart1_gpio14 &uart1_ctsrts_gpio16>;
        };
    };
};

/* compile with:
   dtc -@ -H epapr -O dtb -o dual.dtbo -Wno-unit_address_vs_reg dual.dts
*/
